Django==5.2.5
djangorestframework==3.16.1
drf_yasg==1.21.10
django-seed==0.3.1
django-filter==25.1
psycopg2-binary==2.9.10
djangorestframework-simplejwt==5.5.1
python-dotenv==1.1.1
bcrypt
pyjwt
django-cors-headers==4.8.0
pandas
xlrd